<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bookeey.wallet.live">

    <application
        android:name=".application.CoreApplication"
        android:fullBackupContent="false"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/MyTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon">

        <activity
            android:name=".Splash"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.bookeey.wallet.live.launchfrombrowser" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!--
                <data
                    android:scheme="http"
                    android:host="demo.bookeey.com"
                    android:pathPrefix="portal/smslink"
                    ></data>
                <data android:scheme="https" />
                -->


                <!--
                <data
                    android:scheme="http"
                    android:host="demo.bookeey.com"
                    android:pathPrefix="portal/smslink"
                    ></data>
                <data android:scheme="https" />
                -->

                <data
                    android:host="www.bookeey.com"
                    android:pathPrefix="/portal/smslink"
                    android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OoredooWelcome"
            android:configChanges="keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".registration.OoredooRegistration"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="newflow.OoredooRegistrationNewFlow"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".registration.RejectEditOoredooRegistration"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".registration.TermsAndConditions"
            android:configChanges="keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".changes.DevChangeDeviceNumber"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".changes.MobChangeMobileNumber"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".registration.RegistrationSuccess"
            android:configChanges="keyboardHidden"
            android:theme="@style/Transparent" />
        <activity
            android:name=".registration.RegistrationSuccessNewFlow"
            android:configChanges="keyboardHidden"
            android:theme="@style/Transparent" />
        <activity
            android:name=".registration.OoredooActivation"
            android:configChanges="keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OoredooValidation"
            android:configChanges="keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="newflow.OoredooValidateFromGuestMainMenu"
            android:configChanges="keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".registration.Ooredoo_NotApprovedActivity"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".registration.Ooredoo_RejectedActivity"
            android:configChanges="keyboardHidden"
            android:theme="@style/Transparent" />
        <activity
            android:name=".showpushnotificationmessage.ShowPushNotificationMessageDialogActivity"
            android:configChanges="keyboardHidden"
            android:theme="@style/Transparent" />
        <activity
            android:name="newflow.Ooredoo_RejectedActivityNewFlow"
            android:configChanges="keyboardHidden"
            android:theme="@style/Transparent" />
        <activity
            android:name=".changes.ErrorDialog_DeviceIdChange"
            android:configChanges="keyboardHidden"
            android:theme="@style/Transparent" />
        <activity
            android:name=".changes.ErrorDialog_MobileNumberChange"
            android:configChanges="keyboardHidden"
            android:theme="@style/Transparent" />
        <activity
            android:name=".login.ForgotPassword"
            android:configChanges="keyboardHidden"
            android:theme="@style/Transparent" />
        <activity
            android:name=".voicecommands.VoiceCommndsDialogActivity"
            android:configChanges="keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".login.ForgotPasswordDeviceChange"
            android:configChanges="keyboardHidden"
            android:theme="@style/Transparent" />
        <activity
            android:name=".login.ResetTPIN"
            android:configChanges="keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".sendmoney.SendMoneyLeg1RequestActivity"
            android:exported="false"
            android:parentActivityName=".mainmenu.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>
        <activity
            android:name=".PayUWebPage"
            android:exported="false"
            android:parentActivityName=".mainmenu.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>
        <activity
            android:name=".ViewProfileActivity"
            android:exported="false"
            android:parentActivityName=".mainmenu.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>
        <activity
            android:name=".prepaidcard.VirtualPrepaidcardListActivity"
            android:exported="false"
            android:parentActivityName=".mainmenu.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>
        <activity
            android:name=".sendmoney.SendMoneyFinalScreen"
            android:exported="false"
            android:parentActivityName=".mainmenu.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>
        <activity
            android:name=".mainmenu.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:configChanges="locale|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CheckForUpdatesActivity"
            android:exported="false"
            android:parentActivityName=".mainmenu.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>
        <activity
            android:name=".paytomerchant.ShowQRCode"
            android:exported="false"
            android:parentActivityName=".mainmenu.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>
        <activity
            android:name=".Contact_Us_Activity"
            android:exported="false"

            android:parentActivityName=".mainmenu.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>
        <activity
            android:name=".txnhistory.About_Us_Activity"
            android:exported="false"
            android:parentActivityName=".mainmenu.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>
        <activity
            android:name="newflow.TransactionHistoryActivityNewFlow"
            android:exported="false"
            android:parentActivityName="newflow.MainActivityNewFlow"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="newflow.MainActivityNewFlow" />
        </activity>
        <activity
            android:name=".txnhistory.TransactionHistoryActivity"
            android:exported="false"
            android:parentActivityName=".mainmenu.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>
        <activity
            android:name=".txnhistory.TransactionHistoryDisplayActivity"
            android:exported="false"
            android:parentActivityName=".txnhistory.TransactionHistoryActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.txnhistory.TransactionHistoryActivity" />
        </activity>
        <activity
            android:name="newflow.TransactionHistoryDisplayActivityNewFlow"
            android:exported="false"
            android:parentActivityName="newflow.TransactionHistoryActivityNewFlow"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="newflow.TransactionHistoryActivityNewFlow" />
        </activity>
        <activity
            android:name=".login.ForgotPassword_Success"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".login.ResetTPIN_Success"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" /> <!-- Declaring Service in Manifest -->
        <activity
            android:name=".sendmoney.SendMoneyConfirmation"
            android:exported="false"
            android:parentActivityName=".sendmoney.SendMoneyLeg1RequestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Help"
            android:exported="false"
            android:parentActivityName=".mainmenu.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>

        <activity
            android:name=".wheretopay.MerchantListCatogorieyActivity"
            android:exported="false"
            android:parentActivityName=".mainmenu.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>
        <activity
            android:name="wheretopaynew.MerchantListCatogorieyActivityNewUI"
            android:exported="false"
            android:parentActivityName=".mainmenu.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>
        <activity
            android:name="wheretopaynew.MerchantListCatogorieyActivityNewUIActivity"
            android:exported="false"
            android:parentActivityName=".mainmenu.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>
        <activity
            android:name="newflow.MerchantListCatogorieyActivityNewFlowNewUI"
            android:exported="false"
            android:parentActivityName="newflow.MainActivityNewFlow"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme1"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="newflow.MainActivityNewFlow" />
        </activity>
        <activity
            android:name="newflow.MerchantListCatogorieyActivityNewFlowNewUIActivity"
            android:exported="false"
            android:parentActivityName="newflow.MainActivityNewFlow"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme1"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="newflow.MainActivityNewFlow" />
        </activity>
        <activity
            android:name=".wheretopay.MerchantMapsActivity"
            android:exported="false"
            android:parentActivityName=".wheretopay.MerchantListCatogorieyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.wheretopay.MerchantListCatogorieyActivity" />
        </activity>
        <activity
            android:name=".offers.OffersActivity"
            android:exported="false"
            android:parentActivityName=".mainmenu.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>
        <activity
            android:name=".offers.NewOffersActivity"
            android:exported="false"
            android:parentActivityName=".mainmenu.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>
        <activity
            android:name=".offers.IndividualSavedMerchantOffersActivity"
            android:exported="false"
            android:parentActivityName=".offers.NewOffersActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.offers.NewOffersActivity" />
        </activity>
        <activity
            android:name=".recharge.TopUpInitialActivity"
            android:exported="false"
            android:parentActivityName=".mainmenu.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>
        <activity
            android:name=".offers.RedeemOffersActivity"
            android:exported="false"
            android:parentActivityName=".offers.IndividualSavedMerchantOffersActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.offers.IndividualSavedMerchantOffersActivity" />
        </activity>
        <activity
            android:name=".offers.ShowRedeemQRcode"
            android:exported="false"
            android:parentActivityName=".offers.OffersActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.offers.OffersActivity" />
        </activity>
        <activity
            android:name=".recharge.TopupScreen2Activity"
            android:exported="false"
            android:parentActivityName=".recharge.TopUpInitialActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.recharge.TopUpInitialActivity" />
        </activity>
        <activity
            android:name=".recharge.TopupL1ScreenActvity"
            android:exported="false"
            android:parentActivityName=".recharge.TopupScreen2Activity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.recharge.TopupScreen2Activity" />
        </activity>
        <activity
            android:name=".recharge.TopupFinalScreenActivity"
            android:exported="false"
            android:parentActivityName=".mainmenu.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>
        <activity
            android:name=".offers.MyActiveOffersActivity"
            android:exported="false"
            android:parentActivityName=".offers.OffersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.offers.OffersActivity" />
        </activity>
        <activity
            android:name=".registration.GreetingsActivity"
            android:theme="@style/Transparent" />
        <activity
            android:name=".offers.ShowOfferActivity"
            android:exported="false"
            android:parentActivityName=".offers.IndividualSavedMerchantOffersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.offers.IndividualSavedMerchantOffersActivity" />
        </activity>
        <activity
            android:name=".offers.ShowOfferActivityNewFlow"
            android:exported="false"
            android:launchMode="singleTop"
            android:parentActivityName="newflow.NewOffersActivityNewFlow"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.offers.IndividualSavedMerchantOffersActivity" />
        </activity>
        <activity
            android:name=".offers.ShowOfferActivityAfterLogin"
            android:exported="false"
            android:parentActivityName=".offers.NewOffersActivityAfterLogin"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.offers.NewOffersActivityAfterLogin" />
        </activity>
        <activity
            android:name=".Merchant_Map_Activity"
            android:exported="false"
            android:parentActivityName=".wheretopay.MerchantListCatogorieyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.wheretopay.MerchantListCatogorieyActivity" />
        </activity>
        <activity
            android:name=".wheretopay.GpsNavigationActivty"
            android:exported="false"
            android:parentActivityName=".Merchant_Map_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.Merchant_Map_Activity" />
        </activity>
        <activity
            android:name=".prepaidcard.VirtualDenominationActivity"
            android:exported="false"
            android:parentActivityName=".prepaidcard.VirtualPrepaidcardListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.prepaidcard.VirtualPrepaidcardListActivity" />
        </activity>
        <activity
            android:name=".prepaidcard.LocalCurrencyAmountActivity"
            android:exported="false"
            android:parentActivityName=".prepaidcard.VirtualDenominationActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.prepaidcard.VirtualDenominationActivity" />
        </activity>
        <activity
            android:name=".prepaidcard.FinalVirtualCardActvity"
            android:exported="false"
            android:parentActivityName=".prepaidcard.VirtualPrepaidcardListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.prepaidcard.VirtualPrepaidcardListActivity" />
        </activity>
        <activity
            android:name=".mobilebill.MobileBill_List_Activity"
            android:exported="false"
            android:parentActivityName=".mainmenu.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>
        <activity
            android:name=".mobilebill.MobileBill_L1_Activity"
            android:exported="false"
            android:parentActivityName=".mainmenu.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>
        <activity
            android:name=".mobilebill.MobileBill_L2_Activity"
            android:exported="false"
            android:parentActivityName=".mobilebill.MobileBill_L1_Activity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mobilebill.MobileBill_L1_Activity" />
        </activity>
        <activity
            android:name=".mobilebill.MobileBill_Final_Screen"
            android:exported="false"
            android:parentActivityName=".mainmenu.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>
        <activity
            android:name=".prepaidcard.VirtualPrepaidMainActivityNew"
            android:exported="false"
            android:parentActivityName=".mainmenu.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>
        <activity
            android:name=".prepaidcard.VirtualPrepaidL1Activity"
            android:exported="false"
            android:parentActivityName=".prepaidcard.VirtualPrepaidcardListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".prepaidcard.VirtualPrepaidcardListActivity" />
        </activity>
        <activity
            android:name=".prepaidcard.VirtualPrepaid_final_Activity"
            android:exported="false"
            android:parentActivityName=".mainmenu.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>
        <activity
            android:name=".invoice.Invoice_List_Activity"
            android:exported="false"
            android:parentActivityName=".mainmenu.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>
        <activity
            android:name=".webotp.BWeb_ECom_OTP_List_Activity"
            android:exported="false"
            android:parentActivityName=".mainmenu.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>
        <activity
            android:name=".invoice.InvoiceL1Activity"
            android:exported="false"
            android:parentActivityName=".invoice.Invoice_List_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".invoice.Invoice_List_Activity" />
        </activity>
        <activity
            android:name=".invoice.InvoiceFinalActivity"
            android:exported="false"
            android:parentActivityName=".mainmenu.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>
        <activity
            android:name=".invoice.InvoiceReasonDialogue"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".changes.ChangePinActivity"
            android:exported="false"
            android:label="@string/title_activity_change_pin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".changes.ChangeTPinActivity"
            android:exported="false"
            android:label="@string/title_activity_change_pin"
            android:screenOrientation="portrait" /> <!-- <meta-data -->
        <!-- android:name="com.google.android.gms.version" -->
        <!-- android:value="@integer/google_play_services_version" /> -->
        <!-- Production -->
        <activity
            android:name="coreframework.utils.SendLogReportsActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="coreframework.utils.SendLogReportsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- testing -->
        <!-- <meta-data -->
        <!-- android:name="com.google.android.maps.v2.API_KEY" -->
        <!-- android:value="AIzaSyDp6_vhzRI3fUPi4OUJs8FK3_7bmGRgra8" /> -->
        <!-- Debug API KEY -->
        <!-- AIzaSyDp6_vhzRI3fUPi4OUJs8FK3_7bmGRgra8 -->
        <!-- Signed API KEY -->
        <!-- AIzaSyD0o9zWuzYlxhZmZ6yjtNzYdemOxd4V1Yc -->
        <!--
<receiver
            android:name="push_notifications.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.gocarwash.driver.live.gocarwash_driver_classes" />
                &lt;!&ndash; application package name &ndash;&gt;
            </intent-filter>
        </receiver>

        <service android:name="push_notifications.GcmIntentService" />
        -->
        <activity
            android:name="newflow.MainActivityNewFlow"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="newflow.LoginActivityFromSplashNewFlow"
            android:configChanges="locale|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="newflow.LoginActivityFromGuestMainMenu"
            android:configChanges="locale|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="newflow.MerchantListCatogorieyActivityNewFlow"
            android:exported="false"
            android:parentActivityName=".mainmenu.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>

        <activity
            android:name="newflow.NewOffersActivityNewFlow"
            android:exported="false"
            android:parentActivityName=".mainmenu.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>

        <activity
            android:name=".offers.NewOffersActivityAfterLogin"
            android:exported="false"
            android:parentActivityName=".mainmenu.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>
        <activity
            android:name="newflow.TopUpInitialActivityNewFlow"
            android:exported="false"
            android:parentActivityName="newflow.MainActivityNewFlow"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="newflow.MainActivityNewFlow" />
        </activity>

        <activity
            android:name="newflow.TopupL1ScreenActvityNewFlow"
            android:exported="false"
            android:parentActivityName="newflow.TopUpInitialActivityNewFlow"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.recharge.TopupScreen2Activity" />
        </activity>

        <activity
            android:name="newflow.TopupL1ScreenActivityNewFlowCustomerInfo"
            android:exported="false"
            android:parentActivityName="newflow.TopUpInitialActivityNewFlow"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.recharge.TopupScreen2Activity" />
        </activity>
        <activity
            android:name="newflow.MobileBill_List_ActivityNewFlow"
            android:exported="false"
            android:parentActivityName="newflow.MainActivityNewFlow"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>
        <activity
            android:name="newflow.MobileBill_L1_ActivityNewFlow"
            android:exported="false"
            android:parentActivityName="newflow.MainActivityNewFlow"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>
        <activity
            android:name="newflow.MobileBill_L1_ActivityNewFlowCustomerInfo"
            android:exported="false"
            android:parentActivityName="newflow.MainActivityNewFlow"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>
        <activity
            android:name="newflow.VoucherPrepaid_L1_ActivityNewFlowCustomerInfo"
            android:exported="false"
            android:parentActivityName="newflow.MainActivityNewFlow"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>
        <activity
            android:name="newflow.VirtualPrepaidMainActivityNewNewFlow"
            android:exported="false"
            android:parentActivityName="newflow.MainActivityNewFlow"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>
        <activity
            android:name="newflow.PayUWebPageNewFlow"
            android:exported="false"
            android:parentActivityName=".mainmenu.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>
        <activity
            android:name="newflow.LoginActivityNewFlow"
            android:configChanges="locale|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />


        <activity android:name=".creditcard.CreditCardFormActivity"></activity>


        <activity
            android:name="merchant.DisplayAmountToMerchantActivityDummy"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="merchant.QRCodePaymentCollectionLeg2RequestScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="merchant.QRCodePaymentCollectionFinalScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="merchant.StaticQRCodePaymentCollectionFinalScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="merchant.StaticQRCodePaymentFinalScreenCX"
            android:exported="false"
            android:parentActivityName=".mainmenu.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>
        <activity
            android:name="merchant.StaticQRCodePaymentConfirmationScreenCX"
            android:exported="false"
            android:parentActivityName=".mainmenu.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookeey.wallet.live.mainmenu.MainActivity" />
        </activity>

        <activity
            android:name="br.com.google.zxing.client.android.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD0o9zWuzYlxhZmZ6yjtNzYdemOxd4V1Yc" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:ignore="ManifestResource" />

        <meta-data
            android:name="com.facebook.sdk.CodelessDebugLogEnabled"
            android:value="true" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1234"
            android:exported="true" />

        <service
            android:name=".application.SyncService"
            android:exported="false" />
        <service
            android:name=".application.SyncServiceNewFlow"
            android:exported="false" />
        <service
            android:name="push_notifications.MyFirebaseMsgService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="push_notifications.MyFirebaseInstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

    <permission
        android:name="com.bookeey.wallet.live.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <permission
        android:name="com.bookeey.wallet.live.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="com.bookeey.wallet.live.permission.MAPS_RECEIVE" /> <!-- <uses-permission android:name="android.permission.RECORD_AUDIO" /> -->
    <!-- <uses-feature -->
    <!-- android:name="android.hardware.nfc" -->
    <!-- android:required="true" /> -->
    <!-- <uses-permission android:name="android.permission.NFC" /> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Below permissions are used to detect required hardware or service providers for the application -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

</manifest>